@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Merriweather:wght@700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;700;800&display=swap');
 *{
font-family: 'Work Sans', sans-serif;


 }

 header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
 }

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 nav ul{
    display: flex;
 }

 nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: bold;
    font-size: 1rem;
 }

 nav li a{
    text-decoration: none;
    color: #424242;
 }
 nav h3{
    font-weight: 700;
    color:  #131313;
font-size: 45px;

 }

 .banner-contain{
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
 }

 .banner-contain{
    color:  #131313;
font-size: 2rem;
font-weight: 700;

 }
 .banner-contain p{
    color: #727272;
font-size: 16px;
font-weight: 400;
line-height: 26px;
 }

 .banner-contain button{
    border-radius: 8px;
background: #FF900E;
padding: 18px 25px;
font-size: 20px;
border-style: solid;
font-weight: 600px;
cursor: pointer;
color: white;
 }

 .banner img{
    width: 100%;
 }

 @media screen and (max-width:576px){
    header{
        padding: 20px;
    }

    nav{
        flex-direction: column;
    }
 }
 